<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
  <form method="POST" action="/piglatinize">

  <h2>Enter your phrase:<input type="TEXT" name="user_phrase"></h2>
  <input type="submit" id="submit">

   <h2><%= @pig_latinized_phrase %></h2>

  </form>
  </body>
</html>